<html>
<head>
    <title>超级计算机TOP500</title>
    <meta charset="utf-8">
    <!--引入ECharts-->
    <script src="{{ url_for('static', filename='echarts.js') }}"></script>
    <!-- 引入jquery.js -->
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-3.2.1.js') }}"></script>


</head>

<body>
    <h1 style="font-style:italic">超级计算机TOP500</h1>
    <!--链接布局-->
    <ul style="float:left;width:150px;height:750px;">
        <li><a href="http://127.0.0.1:5000/number">国家保有量</a></li>
        <li><a href="http://127.0.0.1:5000/rank">国家最高排名</a></li>
    </ul>


</body>
</html>