<!DOCTYPE html>
<html>
<head>
    <title>超级计算机TOP500</title>
    <meta charset="utf-8">
    <!--引入ECharts-->
    <script src="{{ url_for('static', filename='echarts.js') }}"></script>
    <!-- 引入jquery.js -->
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-3.2.1.js') }}"></script>

</head>

<body>
<h1 style="font-style:italic">超级计算机TOP500</h1>
    <!--链接布局-->
    <ul style="float:left;width:150px;height:750px;">
        <li><a href="/number">国家保有量</a></li>
        <li><a href="/rank">国家最高排名</a></li>
        <li><a href="/avg">平均每核计算能力</a></li>
        <li><a href="/power">功耗与性能的关系</a></li>
        <li><a href="/rr">实际计算能力与理论计算能力差距</a></li>
    </ul>

    <!--表格-->
    <span id="main" style="width:1000px;height:750px;">
        <table id="rR" style="border=2;"></table>
    </span>

    <script type="text/javascript">
        $.ajax({
         type : "get",
         url : "/echarts5",
         dataType : "json",        //返回数据形式为json
         success : function(result) {
             //请求成功时执行该函数内容，result即为服务器返回的json对象
             if (result) {

                var rRHtml = "<thead><tr><th style='width:200px'>排名</th>";
                rRHtml = rRHtml + "<th style='width:200px'>计算机名称</th>";
                rRHtml = rRHtml + "<th style='width:200px'>国家</th>";
                rRHtml = rRHtml + "<th style='width:200px'>实际计算能力/理论计算能力</th>";
                rRHtml = rRHtml + "</tr></thead><tbody>";

                for(var i=0;i<result["data"].length;i++){
                    rRHtml = rRHtml+"<tr><td style='text-align:center'>"+result["data"][i]["rank"]+"</td>";
                    rRHtml = rRHtml+"<td style='text-align:center'>"+result["data"][i]["name"]+"</td>";
                    rRHtml = rRHtml+"<td style='text-align:center'>"+result["data"][i]["country"]+"</td>";
                    rRHtml = rRHtml+"<td style='text-align:center'>"+result["data"][i]["rR"]+"</td></tr>";
                }
                rRHtml = rRHtml + "</tbody>";
                $("#rR").html(rRHtml);

             }
        }
    })
    </script>

</body>
</html>