<!DOCTYPE html>
<html>
<head>
    <title>超级计算机TOP500</title>
    <meta charset="utf-8">
    <!--引入ECharts-->
    <script src="{{ url_for('static', filename='echarts.js') }}"></script>
    <!-- 引入jquery.js -->
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-3.2.1.js') }}"></script>
</head>

<body>
    <h1 style="font-style:italic">超级计算机TOP500</h1>
    <!--链接布局-->
    <ul style="float:left;width:150px;height:750px;">
        <li><a href="http://127.0.0.1:5000/number">国家保有量</a></li>
        <li><a href="http://127.0.0.1:5000/rank">国家最高排名</a></li>
    </ul>

    <!--表格-->
    <span id="main" style="width:1000px;height:750px;">
        <table id="rank" style="border=2;"></table>
    </span>

    <script type="text/javascript">
        $.ajax({
         type : "get",
         url : "/echarts2",
         dataType : "json",        //返回数据形式为json
         success : function(result) {
             //请求成功时执行该函数内容，result即为服务器返回的json对象
             if (result) {
                 $('#graph1').hide();
                 $('#graph2').show();

                var rankHtml = "<thead><tr><th style='width:200px'>国家名称</th>";
                rankHtml = rankHtml + "<th style='width:200px'>该国超级计算机最高排名</th>";
                rankHtml = rankHtml + "</tr></thead><tbody>";

                for(var i=0;i<result["data"].length;i++){
                    //alert(result["data"][i]["country"]);    //挨个取出名称并填入国家数组
                    //alert(result["data"][i]["rank"]);
                    rankHtml = rankHtml+"<tr><td style='text-align:center'>"+result["data"][i]["country"]+"</td>";
                    rankHtml = rankHtml+"<td style='text-align:center'>"+result["data"][i]["rank"]+"</td></tr>";
                }
                rankHtml = rankHtml + "</tbody>";
                $("#rank").html(rankHtml);

             }
        }
    })
    </script>
</body>
</html>