<!DOCTYPE html>
<html>
<head>
    <title>超级计算机TOP500</title>
    <meta charset="utf-8">
    <!--引入ECharts-->
    <script src="{{ url_for('static', filename='echarts.js') }}"></script>
    <!-- 引入jquery.js -->
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-3.2.1.js') }}"></script>


</head>
<body>
    <h1 style="font-style:italic">超级计算机TOP500</h1>
    <!--链接布局-->
    <ul style="float:left;width:150px;height:750px;">
        <li><a href="http://127.0.0.1:5000/number">国家保有量</a></li>
        <li><a href="http://127.0.0.1:5000/rank">国家最高排名</a></li>
    </ul>
        <!--绘图-->
    <div id="main" style="float:left;width:1000px;height:750px;"></div>



    <script type="text/javascript">
    //--------------------------------------------------------------------------------
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        //--------------------------------------------------------------------------------

        // 指定图表的配置项和数据
        // 显示标题，图例和空的坐标轴
        myChart.setOption({
            color:['#c23531'],    //设置颜色
            title: {
                text: '超级计算机Top500各国保有量'
            },
            tooltip : {
                trigger: 'axis',
                axisPointer: {
                    type: 'shadow'
                }
            },
            /*legend: {
                selectedMode:true
            },*/
            toolbox: {
                show : true,
                feature : {
                    mark : {show: true},
                    dataView : {show: true, readOnly: false},
                    magicType : {show: true, type: ['line', 'bar']}
                }
            },
            calculable : true,
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: false,
                },
            xAxis : [
                {
                    type : 'value',
                    axisLabel : {
                        formatter: '{value}'
                    }
                }
            ],
            yAxis : [
                {
                    type : 'category',
                    boundaryGap : false,
                    data:[]
                }
            ],
            series : [
                {
                    name:'最多数量',
                    type:'bar',
                    data:[],
                    markPoint : {
                        data : [
                            {type : 'max', name: '最大值'},
                            {type : 'min', name: '最小值'}
                        ]
                    },
                    markLine : {
                        data : [
                            {type : 'average', name: '平均值'}
                        ]
                    }
                },]
        });
        //myChart.showLoading();    //数据加载完之前先显示一段简单的loading动画
        var names = [];    //名称数组（实际用来盛放y轴坐标值）
        var nums = [];    //数量数组（实际用来盛放x坐标值）

        $.ajax({
         type : "get",
         url : "/echarts1",
         dataType : "json",        //返回数据形式为json
         success : function(result) {
             //请求成功时执行该函数内容，result即为服务器返回的json对象
             if (result) {
                    for(var i=0;i<result["data"].length;i++){
                       names.push(result["data"][i]["country"]);    //挨个取出名称并填入国家数组
                     }
                    for(var i=0;i<result["data"].length;i++){
                        nums.push(result["data"][i]["number"]);    //挨个取出数量并填入数量数组
                      }
                    myChart.hideLoading();    //隐藏加载动画
                    myChart.setOption({        //加载数据图表
                        yAxis: {
                            data: names
                        },
                        series: [{
                            // 根据名字对应到相应的系列
                            name: '数量',
                            data: nums
                        }]
                    });
             }
        }
    })




    </script>


</body>
</html>